/* reset */
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
a,
img,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.heading {
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.frame {
  width: 500px;
  height: 500px;
  border: 10px solid #413E4A
}