/* reset */

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
a,
img,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
footer,
header,
menu,
nav,
i,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  color: #555152;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  color: white;
}

a:hover {
  color: #4ECDC4;
}

/* @media desktop */

@media screen and (min-width: 1214px) {
  .container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "header portfolio" ". footer";
    height: 100vh;
  }
  /* header */
  .header {
    justify-items: end;
    grid-area: header;
    padding-right: 25px;
    padding-left: 20px;
    display: grid;
    grid-template-rows: 62px 37px 270px 50px;
    grid-template-areas: "name" "email" "intro" "social";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: #fff;
    width: 15%;
    border-right: solid 1.2em #555152;
    height: 100vh;
  }
  .header a {
    color: #555152;
    display: block;
    margin: 6px;
  }
  .header a:hover {
    color: #4ECDC4;
  }
  .name {
    grid-area: name;
    font-size: 1.3em;
    align-self: end;
  }
  .email {
    font-size: 1.1em;
    grid-area: email;
    align-self: center;
  }
  .intro {
    grid-area: intro;
    text-align: right;
    margin-top: 30px;
    border-top: solid 1px #555152;
    padding-top: 30px;
    padding-left: 20px;
  }
  .social {
    grid-area: social;
    align-self: end;
    display: flex;
    justify-content: space-around;
  }
  /* portfolio */
  .portfolio {
    grid-area: portfolio;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "sticky sticky sticky" "portfolio-item-1 portfolio-item-2 portfolio-item-3" "portfolio-item-4 portfolio-item-5 portfolio-item-6" "portfolio-item-7 portfolio-item-8 portfolio-item-9" "portfolio-item-10 . .";
    grid-gap: 15px;
    padding: 85px 20px 10px;
    background: #ccc;
  }
  .sticky {
    background: #fff;
    width: 100%;
    grid-area: sticky;
    padding: 20px;
    margin-bottom: 70px;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  .sticky h2 {
    font-size: 2em;
  }
  .item {
    position: relative;
    background: #fff;
  }
  .title {
    font-size: 1.2em;
    padding: 8px;
    text-align: center;
  }
  .caption {
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 25px;
    transition: opacity .5s;
    font-size: 1.1em;
  }
  .caption:hover {
    opacity: 1;
  }
  .caption h3 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    line-height: 1.5em;
  }
  .image img {
    display: block;
    width: 100%;
  }
  /* footer */
  footer {
    grid-area: footer;
    padding: 25px 20px 25px;
  }
}

@media screen and (max-width: 1214px) {
  .container {
    grid-template-rows: 20% 1fa 50px;
    grid-template-areas: "header header" "portfolio portfolio" "footer footer"
  }
  .header {
    /* justify-items: end; */
    grid-area: header;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "name intro" "email intro" "social intro";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: #fff;
    border-bottom: solid 1.2em #555152;
  }
  .name {
    grid-area: name;
    font-size: 1.3em;
    align-self: end;
  }
  .email {
    font-size: 1.1em;
    grid-area: email;
    align-self: center;
    line-height: 1.75;
  }
  .intro {
    grid-area: intro;
    text-align: right;
    padding-left: 20px;
  }
  .social {
    grid-area: social;
    align-self: end;
    display: flex;
    line-height: 1.5;
  }
  .header a {
    color: #555152;
    display: block;
    margin-right: 6px;
  }
  .header a:hover {
    color: #4ECDC4;
  }
  /* portfolio */
  .portfolio {
    grid-area: portfolio;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "sticky sticky sticky" "portfolio-item-1 portfolio-item-2 portfolio-item-3" "portfolio-item-4 portfolio-item-5 portfolio-item-6" "portfolio-item-7 portfolio-item-8 portfolio-item-9" "portfolio-item-10 . .";
    grid-gap: 15px;
    padding: 157px 20px 10px;
    background: #ccc;
  }
  .sticky {
    background: #fff;
    width: 100%;
    grid-area: sticky;
    padding: 20px;
    margin-bottom: 70px;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  .sticky h2 {
    font-size: 2em;
  }
  .item {
    position: relative;
    background: #fff;
  }
  .title {
    font-size: 1.2em;
    padding: 8px;
    text-align: center;
  }
  .caption {
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 25px;
    transition: opacity .5s;
    font-size: 1.1em;
  }
  .caption:hover {
    opacity: 1;
  }
  .caption h3 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    line-height: 1.5em;
  }
  .image img {
    display: block;
    width: 100%;
  }
  /* footer */
  footer {
    grid-area: footer;
    padding: 25px 20px 25px;
  }
}

@media screen and (max-width: 800px) {
  .portfolio {
    grid-area: portfolio;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "sticky sticky" "portfolio-item-1 portfolio-item-2" "portfolio-item-3 portfolio-item-4" "portfolio-item-5 portfolio-item-6" "portfolio-item-7 portfolio-item-8" "portfolio-item-9 portfolio-item-10";
    grid-gap: 15px;
    padding: 157px 20px 10px;
    background: #ccc;
  }
  .sticky {
    background: #fff;
    width: 100%;
    grid-area: sticky;
    padding: 20px;
    margin-bottom: 70px;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  .sticky h2 {
    font-size: 2em;
  }
  .item {
    position: relative;
    background: #fff;
  }
  .title {
    font-size: 1.2em;
    padding: 8px;
    text-align: center;
  }
  .caption {
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 25px;
    transition: opacity .5s;
    font-size: 1.1em;
  }
  .caption:hover {
    opacity: 1;
  }
  .caption h3 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    line-height: 1.5em;
  }
  .image img {
    display: block;
    width: 100%;
  }
  /* footer */
  footer {
    grid-area: footer;
    padding: 25px 20px 25px;
  }
}

@media screen and (max-width: 647px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "portfolio" "footer";
    height: 100vh;
  }
  /* header */
  .header {
    grid-area: header;
    padding: 25px 25px 50px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name ." "email ." "title social";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    background: #fff;
  }
  .intro {
    display: none;
  }
  .sticky {
    width: 50%;
    grid-area: sticky;
    position: fixed;
    top: 86px;
    z-index: 1002;
    padding: initial;
    padding-left: 25px;
  }
  .social {
    background: #fff;
    position: fixed;
    top: 92px;
    right: 29px;
  }
}

@media screen and (max-width: 500px) {
  .portfolio {
    grid-area: portfolio;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "sticky" "portfolio-item-1" "portfolio-item-2" "portfolio-item-3" "portfolio-item-4" "portfolio-item-5" "portfolio-item-6" "portfolio-item-7" "portfolio-item-8" "portfolio-item-9" "portfolio-item-10";
    grid-gap: 15px;
    padding: 157px 20px 10px;
    background: #ccc;
  }
  .sticky {
    width: 50%;
    grid-area: sticky;
    position: fixed;
    top: 86px;
    z-index: 1002;
    padding: initial;
    padding-left: 25px;
  }
  .sticky h2 {
    font-size: 2em;
  }
  .item {
    position: relative;
    background: #fff;
  }
  .title {
    font-size: 1.2em;
    padding: 8px;
    text-align: center;
  }
  .caption {
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 25px;
    transition: opacity .5s;
    font-size: 1.1em;
  }
  .caption:hover {
    opacity: 1;
  }
  .caption h3 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    line-height: 1.5em;
  }
  .image img {
    display: block;
    width: 100%;
  }
  /* footer */
  footer {
    grid-area: footer;
    padding: 25px 20px 25px;
  }
}